h1, h2, h3, h4, p {
            color: whitesmoke;

        }

        body {
            background-color: rgb(51, 10, 88);
            text-align: center;
            font-family: 'Cinzel', serif;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;            
        }

        h1 {
            font-size: 50px;
        }

        img {
            border-radius: 50%;
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 25px;

        }

        h4 {
            font-size: 30px;
            text-decoration: underline;
            font-weight: bold;
        }

        
        .link {
            background-color: white;
            text-decoration: none;
        }